body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.user-info {
    text-align: right;
}

.container {
    display: flex;
    margin-top: 80px; /* Ajusta este valor según la altura de tu cabecera */
}

.sidebar {
    width: 200px;
    background-color: #444;
    color: #fff;
    padding: 1rem;
    height: calc(100vh - 80px); /* Ajusta este valor según la altura de tu cabecera */
    position: fixed;
    top: 80px; /* Ajusta este valor según la altura de tu cabecera */
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 1rem 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 5px;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    background-color: #666;
}

main {
    margin-left: 220px;
    padding: 1rem;
    width: calc(100% - 220px);
}

section {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}